@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

.admin-container {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}

.admin-form {
  padding: 20px 0px;
}

.admin-homepage {
  margin-bottom: 30px;
}

.admin-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  font-family: "Nunito";
}

.admin-intro>p {
  font-size: 18px;
}

.admin-form h2 {
  text-align: center;
  margin-bottom: 1em;
}

.form-row-container {
  border: 1px solid white;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 100%;
}

.form-row-container>h4,h5 {
  text-align: center;
  margin-bottom: 1em;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.close-btn>img {
  width: 100%;
  height: auto;
}