@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

.admin-container {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}

.admin-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  font-family: "Nunito";
}

.admin-intro>p {
  font-size: 18px;
}